body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width: 1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  overflow-x: hidden;
}
#logo {
  border-width:0px;
  position: fixed;
  left:700px;
  top:0px;
  width:135px;
  height:110px;
  display:flex;
  z-index: 999;
}
#menu-container {
    position: fixed;
    top: 0px; 
    width: 100%;
    z-index: 999;
}

#white-container {
    position: fixed;
    top: 0px; 
    width: 100%;
    height: 110px; 
    background-color: rgba(255, 255, 255, 0.9); 
    z-index: 998; 
}
#navbar {
    position: fixed;
    margin: 70px;
    top: 50px;
    padding: 0;
    list-style-type: none;
    width: 100%;
    z-index: 999;
}

#navbar a {
    display: inline-block;
    padding: 10px 20px;
    font-family: "Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #665238;
}

#navbar a:hover {
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 10px;
    border-left: 5px solid #665238;
    z-index: 999;
}

#navbar ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 5px; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}

#navbar li:hover ul {
    display: block;
}

#navbar,
#navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navbar ul li {
    float: none;
}

#navbar li {
    float: left;
    position: relative;
}

#searchInput {
    border-width: 0px;
    position: fixed;
    left: 900px;
    top: 38px;
    width: 350px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    font-family: "Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
    font-size: 16px;
    color: #665238;
    background-color: #FFFFFF; 
    border: 2px solid #665238; 
    border-radius: 10px; 
    padding: 10px; 
}
#search-button {
	position: fixed;
	left: 1280px;
    top: 38px;
    width: 76px; 
    height: 42px; 
    background-color: #665238; 
	font-family: "Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
    color: white; 
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
}

#search-button:hover {
    background-color: #473B2C; 
}

.image-container {
  display: flex;
}

.image {
  width: 390px;
  height: 190px;
  margin-top: 162px;
  margin-right: 15px; 
  border-radius: 10px; 
  transition: transform 0.5s; 
}
.image-container a {
    margin-right: 9px; 
}


.image:hover {
  transform: scale(1.2); 
  z-index: 1; 
}
#title {
  border-width:0px;
  position:absolute;
  display:flex;
  font-family:"Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:23px;
  text-decoration:underline ;
  color:#473B2C;
}

.image-row {
  display: flex;
  margin-top: 85px;
  overflow-x: hidden;
}

.image-row img {
  width: 140px;
  height: 215px;
  border-radius: 10px; 
  margin-right: 32px; 
  border: 3px solid #A1A96A;
}


.image-row img:last-child {
  margin-right: 0;
}

.image-container {
  position: relative;
}

.image-caption {
  position: absolute;
  width: 100%;
  font-family:"Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#665238;
}
.box {
    width: px;
    height: 80px;
    background-color: rgba(210, 180, 140, 0.2);
    border-radius: 10px;
    margin-bottom: 10px; 
	border-left: 5px solid #665238;
	padding: 10px;
}
.box-text {
    font-family: "Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    color: #800000;
}
.box-textl {
    font-family: "Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: rgba(128, 0, 0, 0.6);
}
.review {
	position: absolute;
    width: 500px;
    padding: 20px;
    border: 3px solid #665238; 
    border-radius: 10px; 
    background-color: rgba(255, 255, 255, 0.5); 
	top: 1384px;
}

.review img {
	width: 140px;
	height: 215px;
	border-radius: 10px;
	border: 3px solid #665238;
	float: left;
	margin-right: 15px;
}

.text {
	font-family: "Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #665238;
}

.footer {
	background-image: url('../img/footer.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 50px 0;
	text-align: center;
	color: #665238;
	font-family: "Times New Roman", sans-serif;
	position: absolute;
    width: 1220px;
	height:170px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    color: #665238;
    padding: 5px;
}

.footer-content p {
    font-size: 16px;
    line-height: 1;
}



#tt_support {
    position: absolute;
    left: 305px;
    top: 90px;
    font-family: "Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    text-decoration: underline;
    color: #665238;
}
#st_support {
  border-width:0px;
  position:absolute;
  left:255px;
  top:180px;
  display:flex;
  font-family:"Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
  font-size: 18px;
  font-weight:700;
  font-style:normal;
  color:#978061;
  text-align:center;
}
#ttform {
  position:absolute;
  left:430px;
  top:238px;
  display:flex;
  font-family:"Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
  font-size: 28px;
  font-weight:700;
  font-style:normal;
  color: #893B12;
  text-align:center;
}
#feedbackForm {
    position: absolute;
	left: 300px;
    top: 325px; 
    width: 600px;
    background: inherit;
    background-color: rgba(240, 240, 240, 1);
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: "Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 21px;
    color: #978061;
    padding: 20px; /* Внутренние отступы формы */
    border-radius: 10px; /* Закругление углов формы */
}


.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea,
.feedback-form select {
    width: calc(100% - 22px); /* Учитываем отступы и границу */
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
	font-family: "Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
	color:#978061 ;
}

.feedback-form input[type="submit"] {
    width: calc(100% - 22px); 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    background-color: #978061; 
    color: #fff; 
    cursor: pointer; 
	font-size: 16px;
    margin-top: 10px; 
}
.test {
    position: relative; 
    width: 300px;
    padding: 20px;
    border: 3px solid #665238; 
    border-radius: 10px; 
    background-color: rgba(255, 255, 255, 0.5); 
    top: 250px;
	text-align: center; 
	display: inline-block;
	margin: 0 25px;
}

.test img {
    width: 230px;
    height: 153px;
    border-radius: 10px;
    border: 3px solid #665238;
    margin: auto; 
    display: block; 
}
.text {
	font-family: "Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #665238;
    display: block; 
	width: 100%;
}

#myChart {
    margin-top: 400px; 
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
    width: 48%; 
    border: 3px solid #665238; 
	border-radius: 10px;
}

form {
    max-width: 600px;
    margin: 0 auto;
	font-family: "Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: #665238;
    margin-bottom: 10px;
}

select {
    width: calc(100% - 22px); 
    padding: 10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    font-family: "Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: #978061 ;
}

input[type="submit"] {
    width: calc(100% - 22px); 
    padding: 10px; 
    border: none; 
    border-radius: 5px; 
    background-color: #978061; 
    color: #fff; 
    cursor: pointer; 
    font-size: 16px;
    margin-top: 20px; 
}

/* Стили для результата */
#result {
    margin-top: 20px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
	color: #978061 ;
}
table {
font-family: "Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
text-align: center;
border-collapse: separate;
border-spacing: 5px;
background: #ECE9E0;
color: #FFFFF0;
border: 16px solid #ECE9E0;
border-radius: 10px;
width: 70%;
margin: 0 auto;
margin-top: 10px;
}
th {
font-size: 18px;
padding: 5px;
border-radius: 10px;
color: #556B2F;
}
td {
background: #556B2F;
padding: 5px;
border-radius: 10px;
}
table img {
	width: 140px;
	height: 215px;
	border-radius: 10px;
	border: 3px solid #ECE9E0;
}
#tt {
    position: relative;
    left: 500px;
    top: 90px;
    font-family: "Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    text-decoration: underline;
    color: #665238;
}
#st {
  border-width:0px;
  position: relative;
  left:290px;
  top: 20px;
  display:flex;
  font-family:"Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
  font-size: 18px;
  font-weight:700;
  font-style:normal;
  color:#978061;
  text-align:center;
}
#toggleButton {
    padding: 30px 40px;
    background-color: #978061; 
    color: #ECE9E0; /* белый цвет текста */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
    font-weight: bold; /* полужирный шрифт */
    font-size: 21px; /* размер текста */
    display: block;
    margin: 0 auto; /* центрирование */
	margin-top: 20px;
}
#toggleButton2 {
    padding: 30px 40px;
    background-color: #978061; 
    color: #ECE9E0; /* белый цвет текста */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
    font-weight: bold; /* полужирный шрифт */
    font-size: 21px; /* размер текста */
    display: block;
    margin: 0 auto; /* центрирование */
	margin-top: 20px;
}
#toggleButton3 {
    padding: 30px 40px;
    background-color: #978061; 
    color: #ECE9E0; /* белый цвет текста */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
    font-weight: bold; /* полужирный шрифт */
    font-size: 21px; /* размер текста */
    display: block;
    margin: 0 auto; /* центрирование */
	margin-top: 20px;
}
#tt1 {
    position: relative;
    left: 400px;
    top: 90px;
    font-family: "Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    text-decoration: underline;
    color: #665238;
}
#st1 {
  border-width:0px;
  position: relative;
  left:330px;
  top: 20px;
  display:flex;
  font-family:"Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
  font-size: 18px;
  font-weight:700;
  font-style:normal;
  color:#978061;
  text-align:center;
}
.review1 {
	position: relative;
    width: 1100px;
    padding: 20px;
    border: 3px solid #665238; 
    border-radius: 10px; 
    background-color: rgba(255, 255, 255, 0.5); 
	top: 10px;
	margin: 15px;
}
.review1 img {
	width: 140px;
	height: 215px;
	border-radius: 10px;
	border: 3px solid #665238;
	float: left;
	margin-right: 15px;
}
.review1 ul {
    border: 2px solid #665238;
    border-radius: 3px;
    box-shadow: rgba(128, 0, 0, 0.2) 0px 3px 3px;
    width: 90%; 
}

.review1 ul li {
    list-style: none; 
    background-image: url('../img/marker.png'); 
    background-repeat: no-repeat; 
    background-size: contain; 
    padding-left: 20px; 
}
#tt2 {
    position: relative;
    left: 450px;
    top: 90px;
    font-family: "Times New Roman Полужирный", "Times New Roman Обычный", "Times New Roman", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    text-decoration: underline;
    color: #665238;
}
#myImage {
  position: relative;
  left: 230px;
  top: 20px;
  width: 700px;
  height: 400px;
  border-radius: 10px; 
  margin-right: 32px; 
  border: 3px solid #A1A96A;
  transition: opacity 1s ease-in-out;
}